<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zj.androidstudy"
    android:versionName="AndroidStudy">

    <permission
        android:name="com.example.zj.androidstudy.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.zj.PROVIDER"
        android:protectionLevel="normal" />

    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取统计数据 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 使用步行AR导航，配置Camera权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 增加发送短信权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="com.example.zj.androidstudy.permission.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="com.zj.PROVIDER" />

    <application
        android:name=".StudyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_learn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_learn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".jni.JniActivity" />
        <activity android:name=".download.DownloadActivity" />
        <activity android:name=".activity.MessengerActivity" />
        <activity android:name=".activity.H5ToAppActivity" />
        <activity android:name=".storage.StorageActivity" />
        <activity android:name=".activity.OpNoteActivity" />
        <activity android:name=".thread.ThreadActivity" />
        <activity android:name=".markdown.MarkdownActivity" />
        <activity android:name=".pdf.PdfSearchActivity" />
        <activity android:name=".scrollAndViewpager.ScrollViewPagerActivity" />
        <activity
            android:name=".firebase.FirebaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="application/pdf"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 下面所设置的质需要和html端对调 -->
                <!-- 在data里设置了 scheme和host，则该Activity可以接收和处理类似于 "sharetest://data/XXX"的链接 -->
                <data
                    android:host="data"
                    android:scheme="sharetest" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BinderActivity" />
        <activity android:name=".material.MaterialDesignActivity" />
        <activity
            android:name=".material.TabLayoutActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".material.CoordinatorActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".material.CoordinatorActivity2"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".contentProvider.ContentActivity" />
        <activity android:name=".media.PhotoActivity" />
        <activity android:name=".service.ServiceActivity" />
        <activity
            android:name=".baidu.MapActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".bigImage.LargeImageViewActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".puzzle.PuzzleActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <category android:name="com.example.zj.puzzle" />
            </intent-filter>
        </activity>
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".activity.DialogActivity" />
        <activity
            android:name=".activity.CustomViewActivity"
            android:theme="@style/DialogStyle" />
        <activity android:name=".autoFillCode.AutoFillSmsCodeActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".activity.ConstraintActivity" />
        <activity android:name=".shareElement.ShareElement2Activity" />
        <activity android:name=".shareElement.ShareElementActivity" />
        <activity
            android:name=".cutOut.CutOutActivity"
            android:theme="@style/ActivityCutOutTheme" />
        <activity android:name=".net.OkhttpActivity" />
        <activity android:name=".lazyLoad.LazyFragmentActivity" />
        <activity android:name=".viewpager.ViewPager2Activity" />
        <activity android:name=".picture.PictureActivity" />
        <activity android:name=".liveData.NameActivity" />
        <activity android:name=".zxing.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme" />
        <activity android:name=".zxing.ZXingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="FnLX3vzTOsavvqiPqcAhPwNuf6ehIZXV" />
        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
                 See README(https://goo.gl/l4GJaQ) for more.
                    -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="${LAUNCH_ICON}" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
                     notification message. See README(https://goo.gl/6BKBk7) for more.
                    -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- firebase message通知渠道 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="${FIREBASE_MESSAGE_CHANNEL_ID}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.zj.androidstudy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".download.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MessengerService"
            android:process=":messengerRemote" />
        <service
            android:name=".service.MemoryFetchService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.BookManagerService"
            android:process="com.example.zj.androidstudy.BookManagerService">
            <intent-filter>
                <action android:name="com.example.zj.bookManagerService" />
            </intent-filter>
        </service>
        <!--如果前台服务需要使用定位权限（API level 29）、相机或麦克风权限（API level 30）需要声明
        foregroundServiceType属性，而且要在startForeground方法传入对应type值
        ref: "https://developer.android.com/guide/components/foreground-services?hl=zh-cn" -->
        <service
            android:name=".service.ForegroundService"
            android:foregroundServiceType="location|camera" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".autoFillCode.AutoFillSmsService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".firebase.MessageReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.BackJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>